<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!--<task:annotation-driven/>-->
	
	<!-- quartz 任务 -->
	<bean id="simplejob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean name="jobClass" class="org.ace.web.scheuling.SimpleJob" />
		</property>
		<property name="targetMethod">
			<value>run</value>
		</property>
	</bean>

	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="simplejob" />
		<property name="startDelay" value="1000" />
		<property name="cronExpression" value="0/1 * * * * ?" />
	</bean>

	<!-- 调度 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
			     <ref bean="simpleTrigger" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>


</beans>