<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="org.ace.web.service"></context:component-scan>

    <bean class="backtype.storm.utils.DRPCClient">
        <constructor-arg name="conf">
            <map>
                <entry key="storm.thrift.transport" value="backtype.storm.security.auth.SimpleTransportPlugin"></entry>
                <entry key="storm.nimbus.retry.times" value="3"></entry>
                <entry key="storm.nimbus.retry.interval.millis" value="1000"></entry>
                <entry key="drpc.max_buffer_size" value="1048576"></entry>
                <entry key="storm.nimbus.retry.intervalceiling.millis" value="1000"></entry>
            </map>
        </constructor-arg>
        <constructor-arg name="host" value="192.168.12.10"></constructor-arg>
        <constructor-arg name="port"  value="3772"></constructor-arg>
        <constructor-arg name="timeout" value="3000"></constructor-arg>
    </bean>
</beans>
